<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include layouts/header %>
</head>
<body>
  <main>
    <%- body %>
  </main>
  <footer>
    <%- include layouts/footer %>
  </footer>
  
</body>
</html>
